.starlink-main {
  background-color: black;
  font-family: verdana, sans-serif, arial;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 22px;
  h2 {
    padding: 40px 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 45px;
    color: #ffffff;
  }
  p {
    margin: 0;
  }
  .first-section {
    height: 100vh;
    width: 100%;
    background-image: url(https://api.starlink.com/public-files/Marketing_LandingFeatured_Mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    h2 {
      padding-top: 80px;
    }
    p {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  .main-input {
    display: inline-block;
    margin-top: 52vh;
    text-transform: uppercase;
  }
  .service {
    width: 425px;
    height: 50px;
    border-radius: 6px;
    color: #b8b8b8;
    background-color: rgba(245, 222, 179, 0.057);
    padding: 0px 26px;
    margin: 20px 10px;
    border: 1px solid white;
    font-size: 12px;
  }
  .main-button {
    width: 186px;
    height: 50px;
    border-radius: 6px;
    color: black;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
  }
  .main-input a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  .span {
    color: #888888;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    text-transform: none;
  }
  .main-span a {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: underline;
    color: #b8b8b8;
    font-weight: 200;
  }
}
.second-section {
  height: 100vh;
  width: 100%;
  background-image: url(https://api.starlink.com/public-files/Marketing_LandingHighspeed_Mobile.jpg);
  background-position: center;
  background-size: cover;
  .box2 {
    text-align: left;
    width: 35%;
    margin-left: 55%;
    padding-top: 15%;
  }
  .second-span {
    border: #ffffff 1px solid;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 40px;
    width: 200px;
  }
}
.button {
  border: #ffffff 2px solid;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 15px;
  margin-top: 35px;
  width: 288px;
  background-color: rgba(245, 222, 179, 0);
  transition-duration: 0.5s;
}
.button:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.button:hover a {
  color: black;
}
.third-section {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  .box3 {
    width: 50%;
    padding: 0 10%;
    padding-bottom: 10%;
    color: #ffffff;
    text-align: left;
  }
  .box3 a {
    font-weight: bold;
    color: #ffffff;
  }
  .img-div {
    width: 50%;
    height: 100%;
    background-image: url("https://api.starlink.com/public-files/Marketing_LandingPlugin.jpg");
    background-position: center;
    background-size: cover;
  }
  .third-div {
    width: 100%;
    margin-top: 40px;
  }
  .third-button {
    width: 46%;
    padding: 10px 15px;
    margin: 20px 5px;
    height: 55px;
  }
}
.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  .box4 {
    width: 50%;
    padding: 0 12% 0 5%;
    color: #ffffff;
    text-align: left;
  }
  .img-div4 {
    width: 50%;
    height: 100%;
    background-image: url(https://api.starlink.com/public-files/Marketing_LandingRural.jpg);
    background-position: center;
    background-size: cover;
  }
}
.fifth-section {
  height: 100vh;
  width: 100%;
  background-image: url(https://api.starlink.com/public-files/Marketing_LandingPreserving_Mobile.jpg);
  background-position: center;
  background-size: cover;
  .box5 {
    text-align: left;
    padding: 15% 0 0 10%;
    width: 42%;
  }
}
.sixth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  .box6 {
    width: 50%;
    padding: 0 12% 0 5%;
    color: #ffffff;
    text-align: left;
  }
}
.img-div6 {
  width: 50%;
  height: 100%;
  background-image: url(https://api.starlink.com/public-files/Marketing_LandingKeepingClean.jpg);
  background-position: center;
  background-size: cover;
}
.seventh-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  .box7 {
    width: 50%;
    padding: 0 10%;
    color: #ffffff;
    text-align: left;
  }
}
.img-div7 {
  width: 50%;
  height: 100%;
  background-image: url(../images/img-starlink/7.jpg);
  background-position: center;
  background-size: cover;
}
.last-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  padding: 20px;
  .last-button {
    width: 288px;
  }
  .vertical {
    border-left: 2px solid #edeaea;
    height: 250px;
    margin-bottom: 40px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: black;
  padding: 0 10%;
  a {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }
}
.footer-ver {
  border-left: 1px solid #757575;
  height: 8px;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .starlink-main {
    .img-div {
      width: 100%;
      height: 50vh;
    }
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      max-height: auto;
      min-height: 50%;
      padding: 10% 0;
    }
    .box2,
    .box5 {
      align-items: center;
      width: 60%;
      margin: 0 auto;
      padding: 25% 0;
    }
    .button {
      width: 100%;
    }
    .third-button {
      margin-top: 0;
    }
    .last-button {
      width: 50%;
      height: 50px;
    }
  }
  .third-section,
  .seventh-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .fourth-section,
  .sixth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 110vh;
    width: 100%;
  }
  .img-div {
    width: 100%;
    height: 50vh;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: padding 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .starlink-main {
    .box {
      width: 100%;
      padding: 10% 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .box2,
    .box5 {
      margin: auto 0;
    }
    h2 {
      line-height: 40px;
    }
    .second-section {
      background-image: url(../images/img-starlink/2.jpg);
    }
    .fifth-section {
      background-image: url(../images/img-starlink/5.jpg);
    }
    .first-section {
      font-size: 15px;
    }
    .main-input {
      width: 90%;
    }
    .service,
    .main-button {
      width: 90%;
    }
  }
}
